<div id="<%= dom_id activity %>">
  <p>
    <strong>Event name:</strong>
    <%= activity.event_name %>
  </p>

  <p>
    <strong>Start time:</strong>
    <% if activity.start_time.present? %>
      <%= activity.start_time.strftime("%H:%M:%S") %>
    <% else %>
      Not specified
    <% end %>
  </p>

  <p>
    <strong>End time:</strong>
    <% if activity.end_time.present? %>
      <%= activity.end_time.strftime("%H:%M:%S") %>
    <% else %>
      Not specified
    <% end %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= activity.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= activity.end_date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= activity.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= activity.description %>
  </p>

  <p>
    <strong>Activity type:</strong>
    <%= activity.activity_type %>
  </p>

</div>
