<div id="<%= dom_id(activity) %>" class="activity">
  <p>
    <strong>Event name:</strong>
    <%= activity.event_name %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= activity.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= activity.end_time %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= activity.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= activity.description %>
  </p>

  <p>
    <strong>Activity type:</strong>
    <%= activity.activity_type %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= activity.points %>
  </p>
</div>