<script>
document.addEventListener("DOMContentLoaded", function() {

  // Delegate event for both activity links and new activity link
  document.addEventListener('click', function(e) {
    // Handling activity links
    if (e.target && e.target.classList.contains('activity-link')) {
      e.preventDefault();
      const url = e.target.getAttribute('data-url'); // URL from the data attribute
      fetch(url)
        .then(response => response.text())
        .then(html => {
          document.getElementById('activity-detail-content').innerHTML = html;
        });
    }

    // Handling new activity link
    if (e.target && e.target.id === 'popup_link') {
      e.preventDefault();
      fetch('<%= new_activity_path %>')
        .then(response => response.text())
        .then(html => {
          document.getElementById('new-activity-form').innerHTML = html;
        });
    }
  });

});

</script>


<%= link_to 'Back to Homepage', root_path %><br />

<div class="container mt-5 text-center">
    <h1>Calendar</h1>
    <%= month_calendar(events: @activities) do |date, activities| %>
        <div class="day">
            <%= date %>
        </div>
        <% activities.each do |activity| %>
            <div class="card-header">
                <h5 class="card-title">
                    <%= link_to activity.event_name, activity_path(activity), 
            class: 'activity-link', 
            'data-bs-toggle': 'modal', 
            'data-bs-target': '#activityDetailModal',
            'data-url': activity_path(activity) %>

                </h5>
            </div>
        <% end %>
    <% end %>
    <% if current_member&.is_admin? %>
      <%= link_to 'New Activity', activities_path, id: 'popup_link', 'data-bs-toggle': 'modal', 'data-bs-target': '#activitiesModal' %>
    <% end %>
</div>

<!-- New Activity Modal -->
<div class="modal fade" id="activitiesModal" tabindex="-1" aria-labelledby="activitiesModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="activitiesModalLabel">Activities</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <!-- Container for new activity form -->
        <div id="new-activity-form">
          <!-- Content from new.html.erb will be loaded here -->
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Activity Detail Modal -->
<div class="modal fade" id="activityDetailModal" tabindex="-1" aria-labelledby="activityDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="activityDetailModalLabel">Activity Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="activity-detail-content">
        <!-- Activity content will be loaded here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


