<div id="<%= dom_id member %>">
  <p>
    <strong>Team:</strong>
    <%= member.team_id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= member.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= member.last_name %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= member.points %>
  </p>

  <p>
    <strong>Is admin:</strong>
    <%= member.is_admin %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= member.email %>
  </p>

  <p>
    <strong>Paid nat dues:</strong>
    <%= member.paid_nat_dues %>
  </p>

  <p>
    <strong>Paid loc dues:</strong>
    <%= member.paid_loc_dues %>
  </p>

</div>
